@model KlinikaVeterinareTI2.Models.ApplicationUser

@{
    ViewData["Title"] = "Fshij Perdorues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-header py-3 d-flex align-items-center">
            <a asp-action="Index"  class="btn btn-primary btn-sm btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </a>
            <h6 class="m-0 ml-2 font-weight-bold text-primary">@ViewData["Title"]</h6>
        </div>

        <div class="card-body">
            <div class="form-group col-md-12 text-center">
                <div class="col-12 text-center">
                    <h3>A jeni i sigurt që dëshironi ta fshini perdoruesin @Model.FirstName @Model.LastName?</h3>
                </div>
                <hr />
                <form asp-action="DeleteUser" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-danger btn-sm btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Fshij</span>
                    </button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Anulo</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>